<div class="form__input">
	<label for="{{name}}" class="input__label">{{label}}</label>
	<div class="input__wrapper">
		<input
			type="{{#if showPassword}}text{{else}}password{{/if}}"
			name="{{name}}"
			value="{{value}}"
			placeholder="{{placeholder}}"
			autocomplete="{{autocomplete}}"
			required
			class="input {{#if error}}input--error{{/if}}"
            {{#if (eq withrequirements "true")}}data-registration-password{{/if}}
		/>
		{{#if (eq type "password")}}
		<span class="passwordToggle" data-toggle-password>
			<img
				src="/icons/visibility-off.svg"
				class="icon input__eyeIcon input__eyeIcon--open"
				style="display: {{#if (eq name "password")}}
					{{#if ../showPassword}}none{{else}}block{{/if}}
				{{else if (eq name "passwordConfirm")}}
					{{#if ../showPasswordConfirm}}none{{else}}block{{/if}}
				{{/if}}"
			/>
			<img
				src="/icons/visibility.svg"
				class="icon input__eyeIcon input__eyeIcon--closed"
				style="display: {{#if (eq name "password")}}
					{{#if ../showPassword}}block{{else}}none{{/if}}
				{{else if (eq name "passwordConfirm")}}
					{{#if ../showPasswordConfirm}}block{{else}}none{{/if}}
				{{/if}}"
			/>
		</span>
		{{/if}}
        {{#if (eq withrequirements "true") }}
        <div class="validator" style="display:none" data-password-validator>
        </div>
        {{/if}}
	</div>
	{{#if (eq witherror "true")}}
	<span
		class="input__error"
		data-field-error="{{name}}"
		style="visibility: hidden"
		role="alert"
	></span>
	{{/if}}
</div>