<div class="formInput">
    <label for={{name}} class="formLabel">{{label}}</label>
    <input 
        type="{{type}}"
        name="{{name}}"
        value="{{value}}"
        placeholder="{{placeholder}}"
        autocomplete={{autocomplete}}
        required
        class="input {{#if error}}error{{/if}}"
    >
</div>